services:
- type: web
  name: demographic-hub
  env: node
  rootDir: backend
  plan: free
  buildCommand: npm install
  startCommand: npm start
  envVars:
    - key: MONGODB_URI
      sync: false
    - key: DB_NAME
      sync: false
    - key: ADMIN_EMAIL
      sync: false
    - key: ADMIN_PASSWORD
      sync: false
    - key: CORS_ORIGIN
      value: "*"
